.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
  }
  &.icon-search {
    &:before {
      background-image: url(../images/icon/icon-search.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  &.icon-save {
    &:before {
      background-image: url(../images/icon/icon-save.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  &.icon-attachment {
    &:before {
      background-image: url(../images/icon/icon-attachment.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  &.icon-close {
    &:before {
      background-image: url(../images/icon/icon-close.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  &.icon-arrow-left {
    &:before {
      background-image: url(../images/icon/icon-arrow-left.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  &.icon-arrow-right {
    &:before {
      background-image: url(../images/icon/icon-arrow-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}