.table-wrap {
  width: 100%;
  overflow: auto;
  border: 1px solid var(--gray-500);
  background: var(--color-white);
}

/* 테이블 본체 */
.table {
  width: 100%;
  min-width: 1300px;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 16px;
  color: var(--color-darken);
  
  thead th {
    padding: 15px;
    background: var(--gray-300);
    font-weight: 700;
    border-bottom: 1px solid var(--border-darken);
    white-space: nowrap;
    text-align: center;
  }
  tbody th {
    padding: 15px;
    background: var(--gray-300);
    border-bottom: 1px solid var(--gray-500);
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
  }
  tbody td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid var(--gray-500);
    color: var(--color-darken);
    vertical-align: middle;
  }
  tbody tr:last-child td{
    border-bottom: 0;
  }
  /* 첫/마지막 셀 라운드 느낌 */
  // thead th:first-child, tbody td:first-child { padding-left: 20px; }
  // thead th:last-child,  tbody td:last-child  { padding-right: 20px; }

  /* 행 hover */
  tbody {
    tr {
      transition: background-color .15s ease;
      &:hover { 
        background: var(--gray-200);
      }
      &.is-selected { 
        background-color: rgba(var(--bg-primary-rgb), 0.2);
      }
      &.notice {
        td {
          font-weight: 700;
          &:first-child {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  .no-data td {
    padding: 20px;
    text-align: center;
    color: #666;
    background: #fafafa;
  }

  &.table-vertical {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      padding: 12px 16px;
      border-bottom: 1px solid var(--gray-500);
      vertical-align: middle;
    }

    th {
      background: var(--gray-300);
      font-weight: 700;
      white-space: nowrap;
      text-align: left;
    }

    td {
      background: var(--color-white);
      text-align: left;
    }

    tr:last-child th,
    tr:last-child td {
      border-bottom: 0;
    }

    /* hover 효과를 원한다면 */
    tr {
      transition: background-color .15s ease;
      &:hover td {
        background: var(--gray-200);
      }
    }
  }
}



