.list-box {
  .list-head {
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-600);
    background-color: var(--gray-300);
    border-radius: 5px;
    > div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px 15px;
      font-weight: 700;
      &.num {
        width: 80px;
        flex-shrink: 0;
      }
      &.date {
        width: 150px;
        flex-shrink: 0;
      }
    }
  }
  .list-body {}
  .list-tr {
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-600);
    background-color: var(--color-white);
    border-radius: 5px;
    margin-top: 5px;
    &:hover {
      border: 1px solid var(--border-primary);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      color: var(--color-primary);
    }
    > div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      &.num {
        width: 80px;
        flex-shrink: 0;
      }
      &.title {
        display: -webkit-box;
        text-align: left;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        word-break: break-all;
        overflow: hidden;
      }
      &.date {
        width: 150px;
        flex-shrink: 0;
        position: relative;
        &::after {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          background-image: url(../../assets/images/icon/icon-clock.svg);
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
}